workflows/manager-password-update.json
{
    "name": "TCU-密碼更新-Webhook",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "manager-password-update",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "接收密碼更新請求",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "manager-password-update"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "token-check",
                            "leftValue": "={{ $json.body.reset_token }}",
                            "rightValue": "-",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        },
                        {
                            "id": "email-check",
                            "leftValue": "={{ $json.body.email }}",
                            "rightValue": "@",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        },
                        {
                            "id": "password-check",
                            "leftValue": "={{ $json.body.new_password.length }}",
                            "rightValue": 8,
                            "operator": {
                                "type": "number",
                                "operation": "gte"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "validate-input",
            "name": "驗證輸入",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "operation": "select",
                "schema": {
                    "__rl": true,
                    "value": "public",
                    "mode": "list",
                    "cachedResultName": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "password_reset_tokens",
                    "mode": "list",
                    "cachedResultName": "password_reset_tokens"
                },
                "returnAll": false,
                "limit": 1,
                "where": {
                    "values": [
                        {
                            "column": "token",
                            "value": "={{ $('接收密碼更新請求').item.json.body.reset_token }}"
                        },
                        {
                            "column": "email",
                            "value": "={{ $('接收密碼更新請求').item.json.body.email }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "verify-token",
            "name": "驗證 Token",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                680,
                220
            ],
            "credentials": {
                "postgres": {
                    "id": "YOUR_POSTGRES_CREDENTIAL_ID",
                    "name": "Zeabur PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "token-exists",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        },
                        {
                            "id": "not-used",
                            "leftValue": "={{ $json.used_at }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isEmpty"
                            }
                        },
                        {
                            "id": "not-expired",
                            "leftValue": "={{ new Date($json.expires_at) > new Date() }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-token-valid",
            "name": "Token 有效?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                900,
                220
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE auth.users SET encrypted_password = crypt($1, gen_salt('bf')), updated_at = NOW() WHERE id = $2::uuid",
                "options": {
                    "queryReplacement": "={{ [$('驗證輸入').first().json.body.new_password, $json.id] }}"
                }
            },
            "id": "update-password",
            "name": "更新 Supabase 密碼",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1340,
                140
            ],
            "credentials": {
                "postgres": {
                    "id": "YOUR_POSTGRES_CREDENTIAL_ID",
                    "name": "Zeabur PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "operation": "select",
                "schema": {
                    "__rl": true,
                    "value": "auth",
                    "mode": "list",
                    "cachedResultName": "auth"
                },
                "table": {
                    "__rl": true,
                    "value": "users",
                    "mode": "list",
                    "cachedResultName": "users"
                },
                "returnAll": false,
                "limit": 1,
                "where": {
                    "values": [
                        {
                            "column": "email",
                            "value": "={{ $('接收密碼更新請求').item.json.body.email }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "get-user-id",
            "name": "取得使用者 ID",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1120,
                140
            ],
            "credentials": {
                "postgres": {
                    "id": "YOUR_POSTGRES_CREDENTIAL_ID",
                    "name": "Zeabur PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, message: '密碼已更新' }) }}",
                "options": {}
            },
            "id": "success-response",
            "name": "回傳成功",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1560,
                140
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: false, message: '驗證失敗或 Token 無效' }) }}",
                "options": {
                    "responseCode": 400
                }
            },
            "id": "error-response",
            "name": "回傳錯誤",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1120,
                360
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: false, message: '請提供 Email 和新密碼' }) }}",
                "options": {
                    "responseCode": 400
                }
            },
            "id": "validation-error",
            "name": "輸入錯誤",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                680,
                420
            ]
        }
    ],
    "connections": {
        "接收密碼更新請求": {
            "main": [
                [
                    {
                        "node": "驗證輸入",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "驗證輸入": {
            "main": [
                [
                    {
                        "node": "驗證 Token",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "輸入錯誤",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "驗證 Token": {
            "main": [
                [
                    {
                        "node": "Token 有效?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Token 有效?": {
            "main": [
                [
                    {
                        "node": "取得使用者 ID",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "回傳錯誤",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "取得使用者 ID": {
            "main": [
                [
                    {
                        "node": "更新 Supabase 密碼",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "更新 Supabase 密碼": {
            "main": [
                [
                    {
                        "node": "回傳成功",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "TCU",
            "createdAt": "2026-01-31T00:00:00.000Z",
            "updatedAt": "2026-01-31T00:00:00.000Z"
        },
        {
            "name": "密碼更新",
            "createdAt": "2026-01-31T00:00:00.000Z",
            "updatedAt": "2026-01-31T00:00:00.000Z"
        }
    ],
    "triggerCount": 0,
    "updatedAt": "2026-01-31T00:00:00.000Z",
    "versionId": "1"
}