docs/n8n_reset_password_flow.json
{
    "name": "Reset Auth Password",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "reset-auth-password",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Authorization"
                            }
                        ]
                    }
                }
            },
            "id": "webhook-node",
            "name": "接收密碼重設請求",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -400,
                300
            ],
            "webhookId": "reset-auth-password"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://db.criterium.tw/rest/v1/rpc/admin_reset_password_by_email",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={ \"target_email\": \"{{ $json.body.email }}\", \"new_password\": \"{{ $json.body.password }}\" }",
                "options": {
                    "response": {
                        "response": {
                            "fullResponse": false
                        }
                    }
                }
            },
            "id": "rpc-call-node",
            "name": "呼叫密碼重設 RPC",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -160,
                300
            ],
            "onError": "continueRegularOutput",
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "success-check",
                            "leftValue": "={{ $json.success }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-node",
            "name": "檢查結果",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                80,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, message: '密碼已成功重設' } }}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "success-response",
            "name": "回傳成功",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                320,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: false, error: $json.error || $json.message || '密碼重設失敗，請稍後再試' } }}",
                "options": {
                    "responseCode": 400,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "error-response",
            "name": "回傳錯誤",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                320,
                400
            ]
        }
    ],
    "connections": {
        "接收密碼重設請求": {
            "main": [
                [
                    {
                        "node": "呼叫密碼重設 RPC",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "呼叫密碼重設 RPC": {
            "main": [
                [
                    {
                        "node": "檢查結果",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "檢查結果": {
            "main": [
                [
                    {
                        "node": "回傳成功",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "回傳錯誤",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": []
}