docs/n8n_reset_password_flow.json
{
    "name": "Reset Auth User Password",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "reset-auth-password",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                240
            ],
            "webhookId": "reset-auth-password"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/admin_reset_password_by_email",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={ \"target_email\": \"{{ $json.body.email }}\", \"new_password\": \"{{ $json.body.password }}\" }",
                "options": {}
            },
            "id": "reset-password-rpc-node",
            "name": "Call Reset Password RPC",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                240
            ]
        },
        {
            "parameters": {
                "options": {
                    "responseCode": 200
                }
            },
            "id": "success-response-node",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                900,
                240
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Call Reset Password RPC",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Reset Password RPC": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}