docs/n8n_full_registration_flow.json
{
    "name": "Supabase Manager Registration Flow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "supabase-registration",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook (Registration)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const crypto = require('crypto');\nconst token = crypto.randomBytes(32).toString('hex');\nreturn {\n  token: token,\n  email: $json.body.email\n};"
            },
            "id": "token-gen",
            "name": "Generate Token",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": "public",
                "table": "manager_verifications",
                "columns": [
                    "email",
                    "token"
                ],
                "options": {}
            },
            "id": "db-save",
            "name": "Save Verification",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// n8n Code Node: Prepare Activation Email HTML\n// ============================================================\n\n// 1. Get input data (passed from previous node)\n// Supabase Insert node usually returns the inserted row in $json\nconst email = $json.email;\nconst token = $json.token;\n\n// 2. Base URL\nconst baseUrl = 'https://service.criterium.tw';\n\n// 3. Construct Activation Link\nconst activationLink = `${baseUrl}/webhook/activate-manager?email=${encodeURIComponent(email)}&token=${encodeURIComponent(token)}`;\n\n// 4. HTML Template\nconst htmlContent = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body { margin: 0; padding: 0; background-color: #f4f7f9; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }\n    .container { max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.05); margin-top: 40px; margin-bottom: 40px; }\n    .header { background: linear-gradient(135deg, #1e293b 0%, #0f172a 100%); padding: 40px 0; text-align: center; }\n    .logo-text { color: #ffffff; font-size: 28px; font-weight: 800; letter-spacing: 2px; text-transform: uppercase; margin: 0; }\n    .logo-sub { color: #94a3b8; font-size: 14px; letter-spacing: 1px; margin-top: 5px; font-weight: 500; }\n    .content { padding: 40px 40px; text-align: center; }\n    .title { color: #1e293b; font-size: 24px; font-weight: 700; margin-bottom: 20px; }\n    .text { color: #475569; font-size: 16px; line-height: 1.6; margin-bottom: 30px; }\n    .btn-container { margin: 35px 0; }\n    .btn { background: linear-gradient(to right, #3b82f6, #2563eb); color: #ffffff !important; text-decoration: none; padding: 16px 40px; border-radius: 50px; font-weight: bold; font-size: 16px; display: inline-block; box-shadow: 0 4px 15px rgba(37, 99, 235, 0.3); }\n    .link-box { background-color: #f8fafc; border: 1px solid #e2e8f0; border-radius: 8px; padding: 15px; word-break: break-all; font-size: 13px; color: #64748b; margin-top: 30px; text-align: left; }\n    .footer { background-color: #f8fafc; padding: 30px; text-align: center; border-top: 1px solid #e2e8f0; }\n    .footer-text { color: #94a3b8; font-size: 12px; line-height: 1.5; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1 class=\"logo-text\">TCU MANAGER</h1>\n      <p class=\"logo-sub\">Taiwan Cycling Union</p>\n    </div>\n    <div class=\"content\">\n      <h2 class=\"title\">歡迎加入 TCU 管理團隊</h2>\n      <p class=\"text\">\n        您好，我們收到了您的管理者帳號申請。<br>\n        為了確保您的帳號安全，請點擊下方按鈕以驗證您的電子信箱並啟用帳號。\n      </p>\n      <div class=\"btn-container\">\n        <a href=\"${activationLink}\" class=\"btn\" target=\"_blank\">\n          立即啟用帳號\n        </a>\n      </div>\n      <p class=\"text\" style=\"font-size: 14px; color: #64748b;\">\n        此連結將在 24 小時後失效。\n      </p>\n      <div class=\"link-box\">\n        <span style=\"font-weight: bold; display: block; margin-bottom: 5px;\">或是複製以下連結：</span>\n        ${activationLink}\n      </div>\n    </div>\n    <div class=\"footer\">\n      <p class=\"footer-text\">© 2026 Taiwan Cycling Union.</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  email: email,\n  token: token,\n  email_html: htmlContent\n};"
            },
            "id": "prepare-html",
            "name": "Prepare HTML",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "fromEmail": "service@tsu.com.tw",
                "toEmail": "={{ $json.email }}",
                "subject": "請啟用您的 TCU 管理者帳號",
                "emailFormat": "html",
                "html": "={{ $json.email_html }}"
            },
            "id": "send-email",
            "name": "Send Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Webhook (Registration)": {
            "main": [
                [
                    {
                        "node": "Generate Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Token": {
            "main": [
                [
                    {
                        "node": "Save Verification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Verification": {
            "main": [
                [
                    {
                        "node": "Prepare HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare HTML": {
            "main": [
                [
                    {
                        "node": "Send Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}